<ion-header>
  <custom-logged-header title="KS | Home"></custom-logged-header>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Estados</ion-label>
    <ion-select [(ngModel)]="estadoSelecionado" (ionChange)="carregaCidades();" cancelText="Cancelar" okText="OK">
      <ion-option *ngFor="let estado of estados | async" value="{{estado.$key}}">{{estado.nome}}</ion-option>
    </ion-select>
</ion-item>

<ion-item>
  <ion-label>Cidades</ion-label>
  <ion-select [(ngModel)]="cidadeSelecionada" (ionChange)="mudaCidadeSelecionada()" cancelText="Cancelar" okText="OK">
    <ion-option *ngFor="let cidade of cidades | async" value="{{cidade.$key}}">{{cidade.nome}}</ion-option>
  </ion-select>
</ion-item>

<button ion-button block (click)="carregaRadiacao()">Editar</button>

<br>
<form *ngIf="canEdit" #editForm="ngForm" (ngSubmit)="onSubmit($event)">

  <ion-item>
      <ion-label>Radiação</ion-label>
    <ion-input type="number" name="radiacao" [(ngModel)]="currentCidade.radiacao" required minlenght="1"></ion-input>
  </ion-item>

  <button ion-button block type="submit" [disabled]="editForm.form.invalid">Salvar</button>
</form>


<button ion-button block type="button" (click)="alterarValorKits()">Alterar valor dos kits</button>

</ion-content>
